<div class="container">
  <div>
    <h6>愛車編集</h6>
    <% if @car.errors.any? %>
      <ul>
        <% @car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @car, url: public_car_path, method: :patch do |f| %>
    <table class= "table">
        
    </table>
  </div>     
</div>
