<div class='container'>
  <table class='table'>
    <thead>
      <tr>   
        <th>画像</th>
        <th>車名</th>
        <th>所有者</th>
      </tr>    
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td>
            <%= link_to admin_car_path(car.id) do %>
              <%= image_tag car.get_car_image(200,200) %>
            <% end %>
        </td>
        <td>
          <%= car.name %>    
        </td>
        <td>
          <%= link_to car.menber.nickname, admin_menber_path(car.menber.id) %>   
        </td>
        </tr>
      <% end %>    
    </tbody>
  </table>
</div>